In [1]:
import pandas as pd
import numpy as np

In [6]:
import pandas as pd
import io
 
df1 = pd.read_csv('/content/clust1.csv')
df2 = pd.read_csv('/content/clust2.csv')

In [7]:
a = df1.set_index(['Cust1','Neigh_Cust2']).index
b = df2.set_index(['Cust1','Neigh_Cust2']).index

df = pd.concat([df2[~b.isin(a)].assign(NewOrMissing = 'New'),
                df1[~a.isin(b)].assign(NewOrMissing = 'Missing')])
print (df)

    Cust1   Neigh_Cust2  Age  Net_Value NewOrMissing
5  Batman  Mickey Mouse   48      53000          New

In [8]:
df = (pd.concat([df1.assign(NewOrMissing = 'Missing'), 
                df2.assign(NewOrMissing = 'New')])
        .drop_duplicates(['Cust1','Neigh_Cust2'], keep=False))
print (df)

    Cust1   Neigh_Cust2  Age  Net_Value NewOrMissing
5  Batman  Mickey Mouse   48      53000          New